.login{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #9dc9ac,#e1f5c4);
}

.card{
    width:25%;
}

.IconePerfil{
    width: 10%;
}

