.login{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #9dc9ac,#e1f5c4);
}

.card{
    width:23%;
}


.Icon{
    width: 100%;
}

.TCadastro{
    color: #A6BC09;
}


#Nav{
    background-color: #005148;
}

#base{
    margin-top: 20px;
    width: 100%;
}

